                <a href="/" class="text-white hover:text-purple-400 transition-colors">Home</a>
                <a href="/popular" class="text-white hover:text-purple-400 transition-colors">Popular</a>
                <a href="/genre" class="text-white hover:text-purple-400 transition-colors">Genres</a> 